/*
    Document   : styles.css
    Created on : Jun 6, 2010, 6:57:02 PM
    Author     : sbourget
    Description:
        Purpose of the stylesheet follows.
*/

#mrbscontainer {color:black; font-size: 10pt; font-family:arial,sans-serif; overflow: auto; padding: 1px;}

#mrbscontainer A:link {color:#5B69A6; font-weight: bold; text-decoration: none}
#mrbscontainer A:visited {color:#5B69A6; font-weight: bold; text-decoration: none}
#mrbscontainer A:hover {color:red; text-decoration:underline}
#mrbscontainer H1 {color:black; font-family:verdana,sans-serif; font-size:16pt}
#mrbscontainer H2 {color:black; font-family:verdana,sans-serif; font-size:14pt}
#mrbscontainer H3 {font-family:verdana,sans-serif; font-size:12pt}

#mrbscontainer table {margin-bottom: 0; }

#mrbscontainer TD {font-size:10pt; font-family:arial,sans-serif;
vertical-align:top; padding: 1px;}
#mrbscontainer TD.border {border-width: 1px; padding: 3px;}
#mrbscontainer TD.header {color:black; font-family:verdana,sans-serif; border-width:0;
background-color:#ffffdd; font-size:26pt}

#mrbscontainer TD.CR { vertical-align: middle; text-align: right}
#mrbscontainer TD.CL { vertical-align: middle; text-align: left}
#mrbscontainer TD.BR { vertical-align: baseline; text-align: right}
#mrbscontainer TD.BL { vertical-align: baseline; text-align: left}
#mrbscontainer TD.TR { vertical-align: top; text-align: right}
#mrbscontainer TD.TL { vertical-align: top; text-align: left}

#mrbscontainer td form { margin:0; } /* Prevent IE from displaying margins around forms in tables. */

#mrbscontainer TD.unallocated {color:gray}
#mrbscontainer TD.allocated {color:black}
#mrbscontainer A:link.unallocated {color:#9BA9E6}
#mrbscontainer A:link.allocated {color:#5B69A6}

#mrbscontainer A:hover.unallocated {color:red}
#mrbscontainer A:hover.allocated {color:red}

#mrbscontainer A.blue {color:blue}
#mrbscontainer A:visited.blue {color:blue}
#mrbscontainer A:hover.blue {color:red}

#mrbscontainer TH {color:#eeeeee; font-size:10pt; font-family:verdana,sans-serif;
background-color:#999999;
border-width:1; border-color:#999999; vertical-align:top; padding: 1px;}
#mrbscontainer TD.banner {vertical-align:middle; background-color:#C0E0FF}
#mrbscontainer TABLE.banner { margin-bottom: 1em; }

#mrbscontainer TD.blue {background-color:#F0F0FF}
#mrbscontainer TD.red  {background-color:#FFF0F0}
#mrbscontainer TD.green {background-color:#DDFFDD}
#mrbscontainer TD.A {background-color:#FFCCFF}
#mrbscontainer TD.B {background-color:#99CCCC}
#mrbscontainer TD.C {background-color:#FF9999}
#mrbscontainer TD.D {background-color:#FFFF99}
#mrbscontainer TD.E {background-color:#C0E0FF}
#mrbscontainer TD.F {background-color:#FFCC99}
#mrbscontainer TD.G {background-color:#FF6666}
#mrbscontainer TD.H {background-color:#66FFFF}
#mrbscontainer TD.I {background-color:#DDFFDD}
#mrbscontainer TD.J {background-color:#CCCCCC}
#mrbscontainer TD.K {background-color:#CEA8F4}
#mrbscontainer TD.L {background-color:#93EEAA}
#mrbscontainer TD.U {background-color:#FF0000}
#mrbscontainer TD.white {background-color:#FFFFFF}
#mrbscontainer TD.DoubleBooked {background-color:#FF0000}

#mrbscontainer TD.calendar { border:0px; font-size: 8pt}
#mrbscontainer TD.calendarHeader {border:0px; font-size: 10pt}
#mrbscontainer FONT.calendarHighlight {color: red}

#mrbscontainer TD.even_row {background-color:#FFFFFF}	/* Even rows in the day view */
#mrbscontainer TD.odd_row {background-color:#EEEEEE}	/* Odd rows in the day view */

#mrbscontainer TD.highlight {background-color:#AABBFF; border-style:solid; border-width:1; border-color:#0000AA;} /* The highlighted cell under the cursor */
#mrbscontainer .naked { margin: 0; padding: 0; border-width:0} /* Invisible tables used for internal needs */

#mrbscontainer .sitename
{font-size: 18px;
font-style: normal;
font-weight: bold;
text-transform: none;
color:#ffffff;
position: absolute;
left:30;
top:12}

#mrbscontainer TD.month {font-size: 8pt; background-color:#FFFFFF}
#mrbscontainer .monthday {font-size: 12pt; vertical-align: top; text-align: left}
